*, *::before, *::after {
  box-sizing: border-box;
}

:root {
--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}


body {
  height: calc(100vh - 3rem);
  margin: 1.5rem 1rem;
  display: grid;
  place-items: center;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--Cream);

}

.card {
  position: relative;
  width: 330px;
  border-radius: 10px;
  background-color: var(--White);
  color: var(--Dark-grayish-blue);
}

@media (orientation: landscape) {
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 660px;
    height: 495px;
  }

  .desktop-img {
    border-radius: 10px 0 0 10px;
  }

  .info-wrapper {
    display: grid;
    align-items: center;
    margin: .25rem 1rem;
  }
  
  .product-name {
    font-size: 2.125rem;
    line-height: 1;
  }

  .description {
    font-size: 0.938rem;
    line-height: 1.75;
  }

  .icon {
    top: 32.5%;
    left: 27%;  
  }

}

.padding {
  padding: 0 1.25rem;
}

img {
  border-radius: 10px 10px 0 0;
  max-inline-size: 100%;
  block-size: auto;
}

.product-type {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-block-end: .25rem;
}

h1 {
  color: var(--Very-dark-blue);
  margin: 0;
}

h1, .sale-price {
  font-family: 'Fraunces', serif;
}

p {
  font-size: 0.844rem;
  line-height: 1.5;
}

.prices {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}


.sale-price {
  color: var(--Dark-cyan);
  font-size: 2.188rem;
  font-weight: 700;
}

.original-price {
  padding-inline-start: 1rem;
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.button {
  position: relative;
  font-size: 0.875rem;
  padding: 1rem 0;
  width: calc(100% - 2.5rem);
  margin: 1.25rem;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  color: var(--White);
  background-color: var(--Dark-cyan);
}

.button:hover {
  background-color: hsl(158, 67%, 12%);
  cursor: pointer;
}

.btn-text {
  padding-inline-start: .5rem;
}

svg {
  position: absolute;
  top: 31%;
  left: 30%;
}